<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context"
                    name="applicationName"
                    source="spring.application.name"
                    defaultValue="retailsphere"/>

    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{correlationId}] [%X{username}] [%X{method}] [%X{uri}] %logger{36} - %msg%n"/>

    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.retailsphere" level="INFO"/>

    <logger name="org.springframework" level="WARN"/>

    <logger name="org.springframework.security" level="INFO"/>

    <logger name="org.hibernate" level="WARN"/>

    <logger name="org.apache.catalina" level="WARN"/>
    
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
