<html>
<head>
    <title>{{ company_name }}</title>
</head>
<body>
    <h1>Welcome to {{ company_name }}</h1>

    <h2>Environment : {{ deployment_environment }}</h2>

    <h2>Owner : {{ owner }}</h2>
</body>
</html>
