[defaults]

inventory = inventories/dev/hosts.ini

remote_user = ec2-user

host_key_checking = False

retry_files_enabled = False

timeout = 30

roles_path = roles:roles/kubernetes/bootstrap:roles/kubernetes/networking:roles/kubernetes/observability:roles/kubernetes/gitops
